<div ng-controller="UsersCtrl">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <form class="navbar-form navbar" ng-submit="findUsers()">
                <div class="form-group">
                    <input ng-model="query.query" name="query" class="search-query" placeholder="Search">
                    <label for="singleSelect"> Search field: </label>
                    <select name="singleSelect" ng-model="query.field">
                        <option value="">Everything</option>
                        <option value="email">Email</option>
                        <option value="city">City</option>
                        <option value="caption">Caption</option>
                        <option value="dob">Day of birth</option>
                        <option value="gender">Gender</option>
                    </select>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div>    
            <leaflet width="100%" height="500px" markers="markers"></leaflet>
            
            <div align="center">
                <pagination ng-show="pageCount > 0" max-size="10"
                    items-per-page="itemsPerPage"
                    class="pagination-sm"
                    boundary-links="true"
                    rotate="true"
                    total-items="total"
                    ng-model="currentPage"
                    num-pages="pageCount">
                </pagination>
            </div>

            <table class="standard-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nickname</th>
                        <th>Gender</th>
                        <th>DoB</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Weight</th>
                        <th>Height</th>
                        <th>Caption</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users" style="border-bottom: solid 1px #fff;">
                        <td>{{user.nickname}}</td>
                        <td><span ng-show="user.gender === 1">female</span><span ng-show="user.gender === 2">male</span></td>
                        <td>{{user.dob}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.country}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.weight / 1000}}</td>
                        <td>{{user.height}}</td>
                        <td>{{user.caption}}</td>
                        <td>{{user.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>