<div ng-controller="UsersCtrl">
    <div>
        <form ng-submit="aggregations()">
            <div class="form-group">
                <label for="singleSelect">Choose field to find top-N occurrences: </label>
                <select name="singleSelect" ng-model="query.field">
                    <option value="email">Email</option>
                    <option value="city">City</option>
                    <option value="caption">Caption</option>
                    <option value="dob">Day of birth</option>
                    <option value="gender">Gender</option>
                    <option value="nickname">Nickname</option>
                    <option value="weight">Weight</option>
                    <option value="height">Height</option>
                </select>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <div>    
            <table class="standard-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bucket in buckets" style="border-bottom: solid 1px #fff;">
                        <td>{{bucket.key}}</td>
                        <td>{{bucket.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>